$light-green: #99E2D0;
$green: #008766;
$light-blue: #89C8FA;
$dark-blue: #003A68;
$purple: #9356DC;
$light-grey: #F6F6F6;
$gradient-button: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);