@import "./color", "./button";

body {
    margin: 0 auto;
    font-family: 'Roboto';

    &__container {
        width: 100%;
        max-width: 767px;
        padding: 0;
        box-sizing: border-box;
    }
}

img {
    object-fit: cover;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}

.header {
    &__logo {
        font-family: 'Shrikhand';
        font-size: 30px;
        text-align: center;
        box-shadow: 0px 2px 4px 0px #00000026;
        padding: 14px 89px 13px 89px;
        margin: 0;
        position: relative;
        z-index: 3;
    }

    &__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        box-shadow: 0px 4px 4px 0px #00000040;
        position: relative;
        z-index: 2;

        &__icon {
            margin-right: 17px;
        }
    }
}

.explore__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $light-grey;

    &__title {
        display: flex;
        align-items: center;
        padding: 30px 50px 0 50px;
        margin: 0;
        text-align: center;
    }

    &__caption {
        text-align: center;
        margin: 10px 0 27px 0;
        padding: 0 7px;
        font-weight: 300;
        font-size: 18px;
    }

    &__button {
        margin-bottom: 57px;
    }
}

.fonctionnement__section {
    padding: 48px 20px 38px 20px;

    &__title {
        margin: 0;
    }

    &__list {
        list-style-type: none;
        counter-reset: item;
        padding-left: 10px;

        &__element {
            position: relative;
            counter-increment: item;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            background-color: $light-grey;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 73px;
            margin-top: 25px;
            font-weight: 500;

            &::before {
                content: counter(item);
                color: white;
                background-color: $purple;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                text-align: center;
                align-items: center;
                display: flex;
                justify-content: center;
                position: absolute;
                left: -10px;
            }

            &:hover &__icon {
                color: $purple;
            }

            &__icon {
                margin-right: 27px;
                color: #7E7E7E;
            }
        }
    }
}

.restaurants__section {
    background-color: $light-grey;
    padding: 30px 20px 50px 20px;

    &__card {
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        border-radius: 15px;

        & img {
            height: 150px;
            border-radius: 15px 15px 0 0;
        }

        &__info {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 15px;

            &__title {
                margin: 0;
            }

            &__location {
                margin: 5px 0 0 0;
            }

            &__icon {
                margin-right: 10px;
            }
        }

        &__new {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            background-color: $light-green;
            color: $green;
            width: 80px;
            height: 29px;
            border-radius: 2px;
            right: 33px;
            font-size: 15px;
            font-weight: 500;
            margin: 10px 0 0 0;
        }
    }
}

.footer {
    background-color: $grey;
    color: white;
    padding: 20px 25px;

    &__logo {
        font-size: 18px;
        font-family: 'Shrikhand';
        font-weight: 400;
        margin: 0;
    }

    &__list {
        list-style-type: none;
        padding: 0;

        &__element {
            font-weight: 500;
            margin-top: 7px;

            &__icon {
                margin-right: 11px;
            }
        }
    }
}