@import "./color", "./button";

body {
    max-width: 767px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Roboto';
}

img {
    width: 100%;
}

.header {
    height: 113px;

    &__logo {
        font-family: 'Shrikhand';
        font-size: 30px;
        text-align: center;
        box-shadow: 0px 2px 4px 0px #00000026;
        padding: 14px 89px 13px 89px;
        margin: 0;
    }

    &__location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #EAEAEA;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    &__location i {
        margin-right: 17px;
    }
}