.button {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: white;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  padding: 13px 18.75px;
  font-size: 16px;
  font-weight: 500;
}

.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
}

body {
  margin: 0 auto;
  font-family: "Roboto";
}
body__container {
  width: 100%;
  max-width: 767px;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.header__logo {
  font-family: "Shrikhand";
  font-size: 30px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 14px 89px 13px 89px;
  margin: 0;
  position: relative;
  z-index: 3;
}
.header__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 2;
}
.header__location__icon {
  margin-right: 17px;
}

.explore__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
}
.explore__section__title {
  display: flex;
  align-items: center;
  padding: 30px 50px 0 50px;
  margin: 0;
  text-align: center;
}
.explore__section__caption {
  text-align: center;
  margin: 10px 0 27px 0;
  padding: 0 7px;
  font-weight: 300;
  font-size: 18px;
}
.explore__section__button {
  margin-bottom: 57px;
}

.fonctionnement__section {
  padding: 48px 20px 38px 20px;
}
.fonctionnement__section__title {
  margin: 0;
}
.fonctionnement__section__list {
  list-style-type: none;
  counter-reset: item;
  padding-left: 10px;
}
.fonctionnement__section__list__element {
  position: relative;
  counter-increment: item;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  margin-top: 25px;
  font-weight: 500;
}
.fonctionnement__section__list__element::before {
  content: counter(item);
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  left: -10px;
}
.fonctionnement__section__list__element:hover .fonctionnement__section__list__element__icon {
  color: #9356DC;
}
.fonctionnement__section__list__element__icon {
  margin-right: 27px;
  color: #7E7E7E;
}

.restaurants__section {
  background-color: #F6F6F6;
  padding: 30px 20px 50px 20px;
}
.restaurants__section__card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 15px;
}
.restaurants__section__card img {
  height: 150px;
  border-radius: 15px 15px 0 0;
}
.restaurants__section__card__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.restaurants__section__card__info__title {
  margin: 0;
}
.restaurants__section__card__info__location {
  margin: 5px 0 0 0;
}
.restaurants__section__card__info__icon {
  margin-right: 10px;
}
.restaurants__section__card__new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #99E2D0;
  color: #008766;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  right: 33px;
  font-size: 15px;
  font-weight: 500;
  margin: 10px 0 0 0;
}/*# sourceMappingURL=styles.css.map */